/* simple global reset */
html, body, h1, h2, h3, h4, h5, h6, p, div, section, article, div, ul, li {
  font-size: inherit;
  font-weight: normal;
  margin: 0px;
  padding: 0px; }

html {
  width: 100%;
  height: 100%;
  font-size: 16px; }
  @media (min-width: 1920px) {
    html {
      font-size: 24px; } }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: #dddddd;
  -webkit-transition: background-color 600ms ease-out;
  -ms-transition: background-color 600ms ease-out;
  transition: background-color 600ms ease-out;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

div::-moz-selection, img::-moz-selection {
  background: none; }

div::selection, img::selection {
  background: none; }

img, div:not(.backfont) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.leftmouse {
  cursor: url("/img/prev.cur"), w-resize !important; }

.rightmouse {
  cursor: url("/img/next.cur"), e-resize !important; }

a:link, a:visited {
  color: #333;
  text-decoration: none; }

a:hover {
  opacity: 0.5; }

a:active {
  color: #0099ff; }

#app {
  margin: 0 auto;
  width: 100%;
  min-width: 100vw;
  min-height: 100%; }

.site {
  width: 100vw;
  height: 100%;
  overflow: hidden; }

.backfont {
  z-index: 3;
  top: 0;
  left: 0;
  text-transform: uppercase;
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
  padding: 1rem;
  line-height: 1rem; }

.backfont::-moz-selection {
  background: #000;
  color: #fff; }

.backfont::selection {
  background: #000;
  color: #fff; }
.wrapper {
  width: 100%;
  height: 100%;
  cursor: inherit;
  pointer-events: none; }

.portfolios {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  pointer-events: auto;
  cursor: inherit; }
  .portfolios img {
    opacity: 0; }
  .portfolios .title {
    display: none; }
  .portfolios .loader {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0; }

.loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.show {
  z-index: 1; }
  .show img {
    opacity: 1; }
  .show .title {
    display: block; }

.bye {
  z-index: 1; }
  .bye img {
    opacity: 1; }
  .bye .title {
    display: none; }
.preloader {
  height: 0.33rem;
  width: 100vw;
  -webkit-animation: spin 1s ease-out infinite;
  animation: spin 1s ease-out infinite;
  -webkit-animation-delay: 200ms;
  /* Safari */
  animation-delay: 200ms; }

@-webkit-keyframes spin {
  0% {
    background-color: #f80c12; }
  20% {
    background-color: #feae2d; }
  40% {
    background-color: #69d025; }
  60% {
    background-color: #11aabb; }
  80% {
    background-color: #442299; }
  100% {
    background-color: #f80c12; } }

@keyframes spin {
  0% {
    background-color: #f80c12; }
  20% {
    background-color: #feae2d; }
  40% {
    background-color: #69d025; }
  60% {
    background-color: #11aabb; }
  80% {
    background-color: #442299; }
  100% {
    background-color: #f80c12; } }
.full {
  width: 100%;
  height: 100%; }

.title {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  padding: 1rem;
  transition: opacity 200ms;
  z-index: 4;
  pointer-events: auto;
  cursor: pointer;
  display: none;
  line-height: 1rem; }
.imagewrapper {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .imagewrapper img {
    margin: 2rem auto;
    display: block;
    max-width: calc( 100% - 2rem);
    max-height: calc( 100% - 6rem);
    image-rendering: auto;
    transition: opacity 200ms ease-out; }

.imagewrapper.first {
  height: calc( 50% - 4rem); }
  .imagewrapper.first img {
    max-height: 100%; }

.imagewrapper.second {
  margin-top: 0rem;
  height: calc( 50% - 4rem); }
  .imagewrapper.second img {
    max-height: 100%; }

@media (min-width: 568px) {
  .imagewrapper {
    margin: 0;
    width: 100%;
    height: 100%; }
  .center img, .left img, .right img {
    margin: 0;
    max-height: calc( 50% - 2rem);
    max-width: calc( 50% - 2rem);
    position: absolute;
    top: 50%;
    left: 50%; }
  .left.top img {
    transform: translate(-75%, -75%); }
  .left.middle img {
    transform: translate(-75%, -50%); }
  .left.bottom img {
    transform: translate(-75%, -25%); }
  .center.top img {
    transform: translate(-50%, -75%); }
  .center.middle img {
    transform: translate(-50%, -50%); }
  .center.bottom img {
    transform: translate(-50%, -25%); }
  .right.top img {
    transform: translate(0%, -75%); }
  .right.middle img {
    transform: translate(-25%, -50%); }
  .right.bottom img {
    transform: translate(25%, -25%); }
  .imagewrapper.highlight img {
    transform: translate(-50%, -50%);
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 6rem); }
  .imagewrapper.first {
    width: 50%;
    position: absolute;
    height: 100%; }
    .imagewrapper.first img {
      max-width: 27.5vw;
      max-height: calc( 50% - 2rem); }
  .imagewrapper.second {
    left: 50%;
    width: 50%;
    position: absolute;
    height: 100%; }
    .imagewrapper.second img {
      max-width: 27.5vw;
      max-height: calc( 50% - 2rem); } }
