.preloader {
  height: 0.5rem;
  background-color: #eee;
  width: 0vw;

  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
}

@-webkit-keyframes spin {
  0% { width: 0vw; margin-left: 0; }
  50% { width: 100vw; margin-left: 0; }
  75% { width: 50vw; margin-left: 50vw; }
  100% { width: 0vw; margin-left: 100vw; }
}

@keyframes spin {
  0% { width: 0vw; margin-left: 0; }
  50% { width: 100vw; margin-left: 0; }
  75% { width: 50vw; margin-left: 50vw; }
  100% { width: 0vw; margin-left: 100vw; }
}
